<div class="card mt-5">
  <ngx-alerts></ngx-alerts>
  <h5 class="card-header">Sign In</h5>
  <div class="card-body">
    <form (submit)="signIn()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" [(ngModel)]="user.email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Sign In</button>
      </div>
    </form>
  </div>
</div>
