<div class="row mt-5">
  <h1>Brands List</h1>
  <a routerLink="/brands/create" class="btn btn-primary btn-sm ml-auto">Add</a>
</div>
<div class="row mt-5">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <th scope="row">{{brand.id}}</th>
        <th>{{brand.name}}</th>
        <th>
          <a class="btn btn-warning btn-sm" (click)="editBrand(brand)">Edit</a>
          <a class="btn btn-danger btn-sm ml-1" (click)="deleteBrand(brand)">Delete</a>
        </th>
      </tr>
    </tbody>
  </table>
</div>

