<div class="card mt-5">
  <ngx-alerts></ngx-alerts>
  <h5 class="card-header">Brand</h5>
  <div class="card-body">
    <form (submit)="update()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="brand.name" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <button class="btn btn-warning">update</button>
      </div>
    </form>
  </div>
</div>
