<div class="row mt-5">
  <h1>Car List</h1>
  <a routerLink="/cars/create" class="btn btn-primary btn-sm ml-auto">Add</a>
</div>
<div class="row mt-5">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <th scope="row">{{car.id}}</th>
        <th>{{car.name}}</th>
        <th>{{car.brand ? car.brand.name : "Deleted"}}</th>
        <th>
          <a class="btn btn-warning btn-sm" (click)="editCar(car)">Edit</a>
          <a class="btn btn-danger btn-sm ml-1" (click)="deleteCar(car)">Delete</a>
        </th>
      </tr>
    </tbody>
  </table>
</div>

