<div class="card mt-5">
  <ngx-alerts></ngx-alerts>
  <h5 class="card-header">Car Update</h5>
  <div class="card-body">
    <form (submit)="update()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" [(ngModel)]="car.name" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="name">Brands</label>
        <select class="form-control" name="brand_id" [(ngModel)]="car.brand_id" (change)="onChange($event.target.value)" id="brand">
          <option disable selected>Select One</option>
          <option value="{{brand.id}}" *ngFor="let brand of brands" >{{brand.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-warning">Update</button>
      </div>
    </form>
  </div>
</div>
