<div class="card mt-5">
  <ngx-alerts></ngx-alerts>
  <h5 class="card-header">Sign Up</h5>
  <div class="card-body">
    <form (submit)="signup()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" [(ngModel)]="user.name" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" [(ngModel)]="user.email" class="form-control" id="email" name="email" >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>
